{%- if ansible_facts['os_family'] == 'RedHat' -%}
{{ fedora_password }}
{%- elif ansible_facts['os_family'] == 'Debian' -%}
{{ debian_password }}
{%- elif ansible_facts['os_family'] == 'Archlinux' -%}
{{ arch_password }}
{%- endif -%}