[Unit]
Description = Glances in Web Server Mode
After = network.target

[Service]
ExecStart = /usr/bin/glances -C /etc/glances/glances.conf -w

[Install]
WantedBy = multi-user.target
